<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left three-quarters">
        <h1 class="topcoat-navigation-bar__title">Steep</h1>
    </div>
    <div class="topcoat-navigation-bar__item right" style="margin-top: 8px;">
        <div class="topcoat-button-bar">
          <div class="topcoat-button-bar__item">
            <a href="#/scan" class="topcoat-button-bar__button"><i class="fa fa-barcode"></i></a>
          </div>
          <div class="topcoat-button-bar__item">
            <a href="#/products" class="topcoat-button-bar__button"><i class="fa fa-th-large"></i></a>
          </div>
        </div>
    </div>
</div>


<div class='details' style="text-align: center;">
  <h1>Your saved products</h1>

  <div class="wishBox" ng-repeat="wish in user.wishes" ng-click="editWish();">
    <a href="#/wish/{{wish.id}}"><img src="{{wish.product.image}}" height="300" width="300" /></a>
    <div>
      <h3>{{wish.product.title}}</h3>
    </div>

    <div class="info">
      <div class="col">
        Current Price:
        <h3>£{{wish.product.price}}</h3>
      </div>
      <div class="col">
        <h3>> by £{{wish.product.price - wish.price}}</h3>
      </div>
      <div style="clear:both"></div>

    </div>
  </div>
</div>
