<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left three-quarters">
        <h1 class="topcoat-navigation-bar__title">Steep</h1>
    </div>
    <div class="topcoat-navigation-bar__item right" style="margin-top: 8px;">
        <div class="topcoat-button-bar">
          <div class="topcoat-button-bar__item">
            <a href="#/scan" class="topcoat-button-bar__button"><i class="fa fa-barcode"></i></a>
          </div>
          <div class="topcoat-button-bar__item">
            <a href="#/products" class="topcoat-button-bar__button"><i class="fa fa-th-large"></i></a>
          </div>
        </div>
    </div>
</div>



<div class='details' style="text-align: center; margin-top: 30px;">
    <button class="topcoat-button--large--cta" disabler="'Checking...'" ng-model="loading" ng-click="scan()">Scan Barcode</button>
    <p id="error" ng-show="error.message">{{error.message}}</p>
</div>
