<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left three-quarters">
        <h1 class="topcoat-navigation-bar__title">Steep</h1>
    </div>
    <div class="topcoat-navigation-bar__item right" style="margin-top: 8px;">
        <div class="topcoat-button-bar">
          <div class="topcoat-button-bar__item">
            <a href="#/scan" class="topcoat-button-bar__button"><i class="fa fa-barcode"></i></a>
          </div>
          <div class="topcoat-button-bar__item">
            <a href="#/products" class="topcoat-button-bar__button"><i class="fa fa-th-large"></i></a>
          </div>
        </div>
    </div>
</div>
<div id="wishDetails" class='details' style="background-image: url({{wish.product.image}})">

  <div class="form">
    <h1 style="text-align: center;">{{wish.product.title}}</h1>
    <h3>Current Price</h3>
    <h3>£{{wish.product.price}}</h3>

    <h3>What would you pay?</h3>
    <h3>£{{wish.price}}</h3>
    <input type="range" class="topcoat-range" name="wish-price" ng-model="wish.price" min="1" max="{{wish.product.price-1}}" step="1" value="{{wish.price}}">

    <div style="margin: 30px">
      <p id="error" ng-show="error.message">{{error.message}}</p>
      <button class="topcoat-button--cta" disabler="'Saving...'" ng-model="loading" ng-click="saveWish()">Save</button>
    </div>
  </div>


</div>
